<div *ngIf="currentStep < 3" class="overflow-x-hidden flex flex-col min-h-screen">
    <div class="w-full flex flex-col bg-[#072D4C] ">
        <div class="flex flex-col w-[90%] md:w-[80%] md:max-w-screen-lg mx-auto">
            <div class="hidden md:block mx-auto mt-8 mb-4"><app-logo></app-logo></div>
            <app-onboarding-header [totalSteps]="totalSteps" [currentStep]="currentStep" (back)="back()" class="mb-4"
                title="אביב גפן בפארק הירקון" iconType="ticket"></app-onboarding-header>
        </div>
    </div>

    <div class="w-full md:max-w-[640px] mx-auto mb-0 p-5 pt-0 mt-4">
        <p class="font-bold">
            מס’ כרטיסים: {{ticketInformation.amount}}
        </p>
        <p class="font-bold">
            תשלום סה"כ: ₪{{ticketInformation.sellPrice}}
        </p>
        <p>
            (כולל עמלת מכירה על סך 5%)
        </p>
    </div>

    <div
        class="flex-grow gap-5 flex flex-col w-full md:max-w-[640px] mx-auto min-h-[10vh] md:mb-8 p-3 md:p-8 md:px-12 md:pt-0 md:bg-white rounded-none md:rounded-3xl md:shadow-gray-300 border-0 md:border md:border-[#9D9990]">
        <div
            class="w-full flex-grow flex justify-center items-center mb-auto border-2 border-dashed rounded-[20px] md:mt-8">
            <h1 class="font-medium text-2xl">iframe</h1>
        </div>
        <app-button (click)="continue()" class="md:max-w-80 w-full mx-auto" label="ביצוע תשלום"></app-button>
    </div>
</div>

<app-confirmation-dialog #confirmationDialog></app-confirmation-dialog>
