<div>
    <label [for]="id" class="block text-lg text-gray-700">{{ label }}</label>
    <div class="flex mt-1 w-full rounded-xl border-[#D9D9D9] border px-4 py-3"  [class.error-field]="isError">
      <input type="text" 
      [ngModelOptions]="{standalone: true}" 
      [id]="id" [name]="name" 
      [(ngModel)]="selectedDate" 
      (ngModelChange)="onDateInput($event)"
      
        required placeholder="DD/MM/YYYY" maxlength="10"
        class="flex-grow">
      <svg (click)="openDatePicker()" class="h-5 w-5 text-gray-400 cursor-pointer" width="23" height="23" viewBox="0 0 23 23"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.25 3.45312H5.25C3.04086 3.45312 1.25 5.24399 1.25 7.45312V17.4531C1.25 19.6623 3.04086 21.4531 5.25 21.4531H17.25C19.4591 21.4531 21.25 19.6623 21.25 17.4531V7.45312C21.25 5.24399 19.4591 3.45312 17.25 3.45312Z"
          stroke="#38383C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M7.25 1.45312V5.45312M15.25 1.45312V5.45312M1.25 9.45312H21.25" stroke="#38383C" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <input #input [id]="hiddenPickerId" type="date" [min]="minDate" [max]="maxDate" class="w-0 h-0" (change)="onDateSelect($event)">
    </div>
  </div>