<p class="px-9 md:p-0 w-full my-6 md:max-w-[640px] mx-auto">
    אנא מלאו את פרטי הנוסע/ים כאן כדי שנוכל להעביר אותם למוכר, באמצעותם הוא יוכל לשנות את שם ההזמנה/הכרטיס אצל חברת
    התעופה או התיירות במהירות ובקלות. פעולה זו תבטיח שהתהליך יתנהל בצורה בטוחה, מסודרת ויעילה.
</p>

<div
    class="flex-grow w-full md:max-w-[640px] mx-auto min-h-[50vh] mb-16 p-5 pt-0 md:bg-white rounded-none md:rounded-3xl md:shadow-gray-300 border-0 md:border md:border-[#9D9990] md:mt-4">
    <form [formGroup]="passengerDetailsForm" (ngSubmit)="onContinue()"
        class="space-y-5 lowercase px-4 md:pt-8 md:pb-4 w-full md:max-w-[340px] md:mx-auto">
        <h3 class="font-bold text-sm">פרטי הנוסע:</h3>

        <div class="mb-6">
            <app-input-field label="שם פרטי באנגלית (בדיוק כפי שמופיע בדרכון)" formControlName="firstName"
                [required]="true"></app-input-field>
            <div
                *ngIf="passengerDetailsForm.get('firstName')?.invalid && (passengerDetailsForm.get('firstName')?.dirty || passengerDetailsForm.get('firstName')?.touched)">
                <small *ngIf="passengerDetailsForm.get('firstName')?.errors?.['required']" class="error-text">First
                    Name is required.</small>
                <small *ngIf="passengerDetailsForm.get('firstName')?.errors?.['pattern']" class="error-text">First
                    Name must contain only letters.</small>
            </div>

            <app-input-field label="שם משפחה באנגלית (בדיוק כפי שמופיע בדרכון)" formControlName="lastName"
                [required]="true"></app-input-field>
            <div
                *ngIf="passengerDetailsForm.get('lastName')?.invalid && (passengerDetailsForm.get('lastName')?.dirty || passengerDetailsForm.get('lastName')?.touched)">
                <small *ngIf="passengerDetailsForm.get('lastName')?.errors?.['required']" class="error-text">Last
                    Name is required.</small>
                <small *ngIf="passengerDetailsForm.get('lastName')?.errors?.['pattern']" class="error-text">Last
                    Name must contain only letters.</small>
            </div>

            <app-radio-group class="mb-4" label="מין" formControlName="gender" [required]="true" type="select"
                [options]="genderOptions"></app-radio-group>
            <div
                *ngIf="passengerDetailsForm.get('gender')?.invalid && (passengerDetailsForm.get('gender')?.dirty || passengerDetailsForm.get('gender')?.touched)">
                <small *ngIf="passengerDetailsForm.get('gender')?.errors?.['required']" class="error-text">Gender
                    is required.</small>
            </div>

            <app-input-field label="מספר תעודת זהות" formControlName="idNumber" [required]="true"></app-input-field>
            <div
                *ngIf="passengerDetailsForm.get('idNumber')?.invalid && (passengerDetailsForm.get('idNumber')?.dirty || passengerDetailsForm.get('idNumber')?.touched)">
                <small *ngIf="passengerDetailsForm.get('idNumber')?.errors?.['required']" class="error-text">ID
                    Number is required.</small>
                <small *ngIf="passengerDetailsForm.get('idNumber')?.errors?.['pattern']" class="error-text">ID
                    Number must contain only numbers.</small>
            </div>

            <app-date-picker class="mb-4" label="תאריך לידה" formControlName="dateOfBirth" [required]="true"
                type="date"></app-date-picker>
            <div
                *ngIf="passengerDetailsForm.get('dateOfBirth')?.invalid && (passengerDetailsForm.get('dateOfBirth')?.dirty || passengerDetailsForm.get('dateOfBirth')?.touched)">
                <small *ngIf="passengerDetailsForm.get('dateOfBirth')?.errors?.['required']" class="error-text">Date
                    of Birth is required.</small>
            </div>

            <app-input-field label="מספר דרכון ישראלי" formControlName="passportNumber"></app-input-field>
            <div
                *ngIf="passengerDetailsForm.get('passportNumber')?.invalid && (passengerDetailsForm.get('passportNumber')?.dirty || passengerDetailsForm.get('passportNumber')?.touched)">
                <small *ngIf="passengerDetailsForm.get('passportNumber')?.errors?.['pattern']"
                    class="error-text">Passport Number must contain only numbers.</small>
            </div>

            <app-date-picker label="תוקף דרכון" formControlName="passportExpirationDate" type="date"></app-date-picker>
            <div
                *ngIf="passengerDetailsForm.get('passportExpirationDate')?.invalid && (passengerDetailsForm.get('passportExpirationDate')?.dirty || passengerDetailsForm.get('passportExpirationDate')?.touched)">
                <small *ngIf="passengerDetailsForm.get('passportExpirationDate')?.errors?.['pattern']"
                    class="error-text">Invalid date format.</small>
            </div>
        </div>

        <app-button class="font-bold mt-4 block" label="המשך" type="submit"
            [disabled]="passengerDetailsForm.invalid"></app-button>

    </form>
</div>