<form
  [formGroup]="ticketForm"
  (ngSubmit)="onFinish()"
  class="space-y-5 lowercase px-4 md:pt-8 md:pb-4 w-full md:max-w-[340px] md:mx-auto"
>
  <h2
    for="eventName"
    class="block text-lg md:text-2xl font-[700] text-gray-700"
  >
    מחיר ופרטים נוספים
  </h2>

  <div>
    <label for="ticketQuantity" class="block text-lg lowercase text-gray-700"
      >כמות כרטיסים</label
    >
    <app-radio-group
      id="ticketQuantity"
      formControlName="ticketQuantity"
      name="ticketQuantity"
      [options]="[
        { value: 1, label: '1' },
        { value: 2, label: '2' },
        { value: 3, label: '3' },
        { value: 4, label: '4' },
        { value: 5, label: '5' }
      ]"
    ></app-radio-group>
    <div
      *ngIf="
        ticketForm.get('ticketQuantity')?.invalid &&
        (ticketForm.get('ticketQuantity')?.dirty ||
          ticketForm.get('ticketQuantity')?.touched)
      "
      class="error-text"
    >
      <div *ngIf="ticketForm.get('ticketQuantity')?.errors?.['required']">
        שדה חובה
      </div>
      <div
        *ngIf="ticketForm.get('ticketQuantity')?.errors?.['min'] || ticketForm.get('ticketQuantity')?.errors?.['max']"
      >
        כמות הכרטיסים חייבת להיות בין 1 ל5
      </div>
    </div>
  </div>

  <div>
    <label for="costPrice" class="block text-lg text-gray-700">
      בכמה רכשתם כל כרטיס?
    </label>
    <p class="mt-3 text-[14px]">
      לדוגמה, אם רכשתם 5 כרטיסים ב-100 ₪ כל אחד, רשמו 100 ₪
    </p>
    <input
      [class.error-field]="
      (ticketForm.hasError('numberComparison') ||
        ticketForm.get('costPrice')?.invalid) &&
          ticketForm.get('costPrice')?.touched
      "
      type="text"
      id="costPrice"
      formControlName="costPrice"
      currencyMask
      [options]="{ prefix: '₪ ', thousands: ',', decimal: '.', precision: 2 }"
      class="mt-1 rounded-xl border-[#D9D9D9] border pr-4 py-3 max-w-36"
    />
    <div
      *ngIf="ticketForm.hasError('numberComparison') && ticketForm.get('costPrice')?.touched"
      class="error-text text-sm mt-1"
    >
      מחיר המכירה לא יכול להיות גבוה יותר מהמחיר ששילמתם
    </div>
    <div
      *ngIf="
        ticketForm.get('costPrice')?.invalid &&
        (ticketForm.get('costPrice')?.dirty ||
          ticketForm.get('costPrice')?.touched)
      "
      class="error-text"
    >
      <div *ngIf="ticketForm.get('costPrice')?.hasError('required')">
        שדה חובה
      </div>
      <div *ngIf="ticketForm.get('costPrice')?.hasError('min')">
        מחיר חייב להיות גדול מ0
      </div>
    </div>
  </div>

  <div>
    <label for="salePrice" class="block text-lg text-gray-700">
      בכמה אתם מוכרים כל כרטיס? 
    </label>
    <p class="mt-3 text-[14px]">
      לדוגמה, אם אתם מוכרים 5 כרטיסים ב-90 ₪ כל אחד, רשמו 90 ₪
    </p>
    <input
      [class.error-field]="
      (ticketForm.hasError('numberComparison') ||
        ticketForm.get('salePrice')?.invalid) &&
          ticketForm.get('salePrice')?.touched
      "
      type="text"
      id="salePrice"
      formControlName="salePrice"
      currencyMask
      [options]="{ prefix: '₪ ', thousands: ',', decimal: '.', precision: 2 }"
      class="mt-1 rounded-xl border-[#D9D9D9] border pr-4 py-3 max-w-36"
    />
    <div
      *ngIf="
        ticketForm.get('salePrice')?.invalid &&
          ticketForm.get('salePrice')?.touched
      "
      class="error-text"
    >
      <div *ngIf="ticketForm.get('salePrice')?.hasError('required')">
        שדה חובה
      </div>
      <div *ngIf="ticketForm.get('salePrice')?.hasError('min')">
        מחיר חייב להיות גדול מ0
      </div>
    </div>
  </div>

  <div>
    <label for="ticketDetails" class="block text-lg text-gray-700"
      >פירוט כללי על הכרטיס</label
    >
    <textarea
      [class.error-field]="
        ticketForm.get('ticketDetails')?.invalid && 
        ticketForm.get('ticketDetails')?.touched
      "
      placeholder="ציינו את כל מה שכלול בכרטיס ופרטים מיוחדים על האירוע, למשל סוג הכרטיס (VIP, גולדן רינג), אם יש שתייה ראשונה חינם, שער הכניסה והטבות נוספות. כל פרט נוסף שיכול לעניין את הקונה חשוב!"
      id="ticketDetails"
      formControlName="ticketDetails"
      class="mt-1 block w-full min-h-40 rounded-xl border-[#D9D9D9] border px-4 py-3"
    ></textarea>
    <div
      *ngIf="
        ticketForm.get('ticketDetails')?.invalid &&
          ticketForm.get('ticketDetails')?.touched
      "
      class="error-text"
    >
    </div>
  </div>

  <div>
    <label for="eventLink" class="block text-lg text-gray-700"
    >לינק לדף רכישת הכרטיס</label
  >
  <textarea
    [class.error-field]="
      ticketForm.get('eventLink')?.invalid && 
      ticketForm.get('eventLink')?.touched
    "
    placeholder="הוספת קישור לדף שבו רכשתם את הכרטיס יכולה לעזור לקונים לקבל פרטים נוספים על האירוע. זה לא חובה אך מועיל!"
    id="eventLink"
    formControlName="eventLink"
    class="mt-1 block w-full min-h-[100px] rounded-xl border-[#D9D9D9] border px-4 py-3"
  ></textarea>
    <div
      *ngIf="
        ticketForm.get('eventLink')?.invalid &&
        (ticketForm.get('eventLink')?.dirty ||
          ticketForm.get('eventLink')?.touched)
      "
      class="error-text"
    >
      <div *ngIf="ticketForm.get('eventLink')?.errors?.['pattern']">
        אנא הזינו קישור תקין
      </div>
    </div>
  </div>

  <app-button
    type="submit"
    [disabled]="!ticketForm.valid"
    label="סיום"
    class="block"
  ></app-button>
</form>
