<div class="flex flex-col min-h-screen">
  <app-header></app-header>
  <div
    class="md:text-lg w-full md:max-w-[640px] mx-auto pb-10 mb-10 p-4 pt-12 md:p-12 md:bg-white rounded-none md:rounded-3xl md:shadow-gray-300 border-0 md:border md:border-[#9D9990] md:mt-10">
    <div class="rounded-full bg-[#FFC5C5] w-10 h-10 md:w-16 md:h-16 mx-auto flex items-center justify-center">
      <img src="/assets/icons/search-cross.svg" alt="search-cross" class="w-6 h-6 md:w-10 md:h-10">
    </div>

    <h1 class="mx-auto font-bold text-2xl md:text-4xl md:text-center mt-2 mb-10">נראה שהכרטיס הזה כבר לא זמין</h1>

    <div class="mt-4 mb-10">
      <p>מצטערים על אי הנוחות!</p>
      <p>ייתכן שהכרטיס כבר נמכר או שהמוכר בחר להסירו</p>
    </div>

    <div class="bg-[#EFECE6] w-full flex flex-col py-2 px-4 mt-4 pb-6 mb-6 rounded-[14px]">
      <p class="font-bold text-lg">יש לכם כרטיס מיותר?</p>
      <p class="mb-4">תנו לו הזדמנות שנייה ותמכרו אותו בקלות ובמהירות!העלו את הכרטיס, קבלו לינק לשיתוף ותנו לנו לדאוג
        לביטחון ולשקט הנפשי שלכם.</p>
      <app-button routerLink="/ad-new" label="לחצו כאן והתחילו למכור"
        buttonClasses="w-full md:w-fit md:px-16"></app-button>
    </div>

    <p class="w-1/2">רוצים לקחת חלק במהפכה?
      גלו עוד עלינו ב-<a routerLink="/" class="underline font-bold cursor-pointer">אתר שלנו!</a></p>
  </div>

  <app-footer class="mt-auto"></app-footer>
</div>