<div class="overflow-x-hidden flex flex-col min-h-screen">
    <div class="w-full flex flex-col bg-[#072D4C] ">
        <div class="flex flex-col w-[90%] md:w-[80%] md:max-w-screen-lg mx-auto">
            <div class="hidden md:block mx-auto mt-8 mb-4"><app-logo></app-logo></div>
            <app-onboarding-header iconType="email" class="mb-4"
                title="אימייל ליצירת קשר ועדכונים"></app-onboarding-header>
        </div>
    </div>
    <p class="text-sm lowercase text-gray-700 w-full md:max-w-[640px] mx-auto mt-10 px-9 md:px-0">אנא הזינו את כתובת האימייל שלכם כדי שנוכל לשלוח עדכונים
        חשובים
        וליצור קשר
        במקרה הצורך</p>
    <div
        class="w-full md:max-w-[640px] mx-auto mb-16 p-5 md:pt-0 md:bg-white rounded-none md:rounded-3xl md:shadow-gray-300 border-0 md:border md:border-[#9D9990] mt-6">
        <div class="space-y-5 lowercase px-4 md:pt-8 md:pb-6 w-full md:max-w-[340px] md:mx-auto">
            <div class="flex flex-col justify-between space-y-2 mt-4">
                <p class="text-sm font-semibold lowercase text-gray-700 ">כתובת אימייל</p>
                <input #emailInput [ngModelOptions]="{standalone: true}" name="email" type="email"
                    class="w-full h-10 border border-gray-300 rounded-lg mb-4" (ngModelChange)="isEmailMatching()"
                    [(ngModel)]="email" (input)="onInputEmail()"
                    [class.error-field]="emailInput.classList.contains('ng-invalid') && (emailInput.classList.contains('ng-dirty') || emailInput.classList.contains('ng-touched'))">
                <p class="text-sm font-semibold lowercase text-gray-700">הקלידו את כתובת האימייל שוב</p>
                <input #confirmEmailInput [ngModelOptions]="{standalone: true}" name="confirmEmail" type="email"
                    class="w-full h-10 border border-gray-300 rounded-lg mb-4" (ngModelChange)="isEmailMatching()"
                    [(ngModel)]="confirmEmail" (input)="onInputEmail()"
                    [class.error-field]="confirmEmailInput.classList.contains('ng-invalid') && (confirmEmailInput.classList.contains('ng-dirty') || confirmEmailInput.classList.contains('ng-touched'))">
            </div>

            <app-button type="submit" [disabled]="!matchingEmails" (click)="onContinue()" class="block mt-12"
                label="Continue"></app-button>
        </div>
    </div>

</div>