<div class="flex flex-col md:flex-row justify-between items-center">
    <div class="flex items-center w-full md:hidden">
      <app-rounded-person class="cursor-pointer" (click)="goToProfile()"></app-rounded-person>
      <app-logo class="mx-auto"></app-logo>
      <app-hamburger (toggleMenu)="toggleMobileMenu()"></app-hamburger> 
    </div>
  
    <div class="hidden md:flex items-center gap-x-8">
      <div class="px-10 py-3 bg-white rounded-full">
        <span class="text-lg font-bold">לחצו כאן למכירת כרטיס</span>
      </div>
      <app-rounded-person class="cursor-pointer" (click)="goToProfile()"></app-rounded-person>
      <ul class="flex items-center gap-x-4">
        <li><a href="#" class="text-white hover:text-gray-300">איך זה עובד?</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">תנאי עסקה הוגנת</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">עלינו</a></li>
      </ul>
    </div>
    <div class="hidden md:flex items-center gap-x-2">
        <img src="/assets/icons/logo.svg" alt="Logo">
    </div>
  
    <div class="hidden w-full md:hidden" id="mobile-menu">
      <ul class="flex flex-col items-center gap-y-4 mt-4">
        <li><a href="#" class="text-white hover:text-gray-300">איך זה עובד?</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">תנאי עסקה הוגנת</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">עלינו</a></li>
        <li>
          <div class="px-10 py-3 bg-white rounded-full">
            <span class="text-lg font-bold">לחצו כאן למכירת כרטיס</span>
          </div>
        </li>
      </ul>
    </div>
    <app-mobile-menu *ngIf="isMobileMenuOpen" [isLoggedIn]="isLoggedIn" (close)="closeMobileMenu()"></app-mobile-menu>
  </div>