<div class="overflow-x-hidden flex flex-col min-h-screen">
    <div class="md:h-full w-full flex flex-col bg-[#072D4C] pb-[100px] md:pb-[150px]">
        <div class="px-4 lg:px-14 py-6 lg:py-10 w-full">
            <div class="flex flex-col justify-between items-center">
                <a class="cursor-pointer" [routerLink]="['/']">
                    <img src="/assets/icons/logo.svg" alt="Logo">
                </a>
            </div>
        </div>
        <div class="flex flex-col gap-2 items-center text-center">
            <div class="flex flex-col gap-2 text-white  items-center">
                <h2 class="text-4xl font-bold mr-2 mb-4">אביב גפן בפארק הירקון</h2>
                <p class="text-sm">
                    מספר מזהה: CL00021
                </p>
                <p class="font-bold	text-xl">מס’ כרטיסים: 2</p>
            </div>

        </div>
    </div>

    <div
        class="flex-grow w-full md:max-w-[640px] mx-auto -mt-[130px] md:-mt-[130px] min-h-[50vh] mb-44 md:mb-48 p-5 md:pt-0 md:bg-white rounded-none md:rounded-3xl md:border md:border-[#D9D6D1]">
        <div class="my-8 bg-[#EFECE6] rounded-xl p-4">
            <div class="flex justify-between mb-2">
                <div class="flex flex-col">
                    <h2 class="text-2xl font-medium mr-2 mb-4">לאון שגיא</h2>
                    <p class=" flex items-center gap-1">
                        <img src="/assets/icons/shield-checked.svg" alt="shield-checked">
                        זהות מאומתת
                    </p>
                    <p class="">נמכרו <strong>11</strong> כרטיסים דרך האתר</p>
                </div>
                <div class="relative" *ngIf="isTrustedSeller">
                    <span
                        class="bg-[#FFC5C5] flex items-center gap-1 text-[#001729] text-base font-bold px-2 py-1 rounded-full cursor-pointer"
                        (click)="toggleTrustedSellerPopup()">
                        מוכר אמין
                        <img src="/assets/icons/info-circle.svg" alt="info">
                    </span>
                    <div *ngIf="showTrustedSellerPopup"
                        class="absolute z-10 p-2 left-1 bg-white border border-gray-300 rounded-xl shadow-md mt-1 w-[60vw] md:w-[30vw]">
                        <p class="text-sm">This seller has completed 5 or more sales without any deleted ads.</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="bg-white border border-[#D9D6D1] rounded-xl mb-4 overflow-hidden">
                <app-expandable-section title="למה כדאי לך לרכוש דרך הפלטפורמה שלנו?"
                    [isExpanded]="isPlatformInfoExpanded" (toggleExpand)="togglePlatformInfo()">
                    <!-- <p>{{ platformInfoText }}</p>
                    <a routerLink="/how-it-works" class="text-[#072D4C] font-bold underline">Learn more about how it
                        works</a> -->
                    <!-- <div class="flex flex-col gap-2"> -->
                    <div *ngFor="let i of [1,2,3,4,5]">
                        <div class="flex flex-col mb-3">
                            <p class="flex gap-2 items-center mb-2">
                                <img src="/assets/icons/pink-checkmark.svg" class="w-6 h-6" alt="pink-checkmark">
                                <span class="text-lg font-medium">header</span>
                            </p>
                            <p>text</p>
                            <p>text</p>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div  class="flex flex-col">
                        <p class="flex gap-2 items-center mb-2">
                            <img src="/assets/icons/pink-checkmark.svg" class="w-6 h-6" alt="pink-checkmark">
                            <span class="text-lg font-medium">header</span>
                        </p>
                        <p>text</p>
                        <p>text</p>
                    </div> -->

                </app-expandable-section>
            </div>

            <div class="p-4">
                <h2 class="text-xl font-medium mb-2">פרטי האירוע</h2>
                <!-- <p class="text-sm text-gray-600 mb-2">ID: {{ uniqueIdentifier }}</p> -->
                <!-- <p class="text-base mb-2">{{ numberOfTickets }} tickets available</p> -->
                <p class="text-sm flex gap-2 items-center mb-2">
                    <span class="h-8 w-8 rounded-full flex items-center justify-center bg-[#EFECE6]">
                        <img src="/assets/icons/calendar.svg" alt="calendar">
                    </span>
                    {{ eventDateTime | date:'medium' }}
                </p>
                <p class="text-sm flex gap-2 items-center mb-2">
                    <span class="h-8 w-8 rounded-full flex items-center justify-center bg-[#EFECE6]">
                        <img src="/assets/icons/map-pin.svg" alt="location">
                    </span>
                    {{ location }}
                </p>
                <p class="text-sm flex gap-2 items-center mb-2">
                    <span class="h-8 w-8 rounded-full flex items-center justify-center bg-[#EFECE6]">
                        <img src="/assets/icons/money.svg" alt="money">
                    </span>
                    Original Price: {{ originalPrice | currency: 'ILS'}} - Sale Price: {{ salePrice | currency: 'ILS'}}
                </p>
                <p *ngIf="additionalDetails" class="text-sm flex gap-2 items-center mb-2">
                    <span class="h-8 w-8 rounded-full flex items-center justify-center bg-[#EFECE6]">
                        <img src="/assets/icons/note.svg" alt="note">
                    </span>
                    {{ additionalDetails }}
                </p>
                <a *ngIf="officialWebsite" [href]="officialWebsite" target="_blank"
                    class="text-base font-bold text-[#072D4C] underline mt-2 flex gap-2 items-center">
                    <span class="h-8 w-8 rounded-full flex items-center justify-center bg-[#EFECE6]">
                        <img src="/assets/icons/globe.svg" alt="link">
                    </span>
                    Official Booking Website
                </a>
            </div>
        </div>

        <div
            class="fixed bottom-0 left-0 right-0 p-4 bg-white border-t shadow-md shadow-gray-300 border-gray-200 text-center">
            <h2 class="text-xl font-medium mb-4 text-center">
                <ng-container *ngIf="salePrice">
                    <span class="line-through gap-2">{{ originalPrice | currency: 'ILS' }}</span>&amp;
                    <span>{{ salePrice | currency: 'ILS' }} לכרטיס</span>
                </ng-container>
                <ng-container *ngIf="!salePrice">
                    {{ originalPrice | currency: 'ILS' }}
                </ng-container>
            </h2>
            <button (click)="purchaseTicket()"
                class="w-full py-4 px-4 bg-[#072D4C] text-white rounded-3xl font-semibold max-w-80">
                Purchase
            </button>
        </div>
    </div>