<div class="overflow-x-hidden">
    <div class="h-full w-full flex flex-col bg-[#072D4C]">
      <div class="flex flex-col">
        <app-header class="px-4 lg:px-14 py-6 lg:py-10 w-full"></app-header>
      </div>
      <div class="flex flex-col mt-8 mb-16 flex-grow justify-evenly items-center h-full w-full text-center">
        <h1 class="text-2xl font-medium my-auto text-white">איך זה עובד</h1>
      </div>
    </div>

    <div class="bg-white py-8 lg:py-16 mx-auto px-4 lg:px-0">
        <div class="w-full">
            <div class="flex flex-col gap-8 lg:gap-x-20 max-w-6xl mx-auto pb-12 lg:pb-20">
                <!-- Sell -->
                <div class="flex flex-col gap-2">
                    <img src="/assets/icons/sell-faq.svg" alt="How it works" class="h-28 w-fit">
                    <p class="max-w-xs font-medium text-2xl">מכירת כרטיסים</p>
                </div>
                <div class="flex flex-col gap-2 mb-8">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">1</span>
                        <h3 class="text-lg font-bold">העלאת הכרטיס</h3>
                    </div>
                    <p class="text-lg">העלאת כרטיסים למכירה אצלנו היא תהליך נוח ומהיר, שמתאים לכרטיסים לאירועים, טיסות, ועוד סוגי כרטיסים רלוונטיים. כל מה שצריך לעשות הוא להזין את פרטי הכרטיס החשובים, כמו תאריך, מיקום, ומספר הכרטיסים הזמינים, יחד עם פרטים נוספים הקשורים לאירוע או לטיסה.</p>
                    <p class="text-lg">
                        לאחר מכן, תוכלו לקבוע את המחיר (זכרו, המחיר לא יכול להיות גבוה יותר מהסכום ששילמתם במקור). בתוך מספר דקות בלבד, הכרטיס שלכם יעלה למכירה, כשהוא כולל את כל המידע שהקונה צריך – מה שחוסך לכם זמן ומצמצם באופן משמעותי את כמות השאלות והפניות שהייתם מקבלים בעבר.
                    </p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">2</span>
                        <h3 class="text-lg font-bold">רישום ואימות זהות</h3>
                    </div>
                    <p class="text-lg">אחרי שהעליתם את הכרטיס, תצטרכו לעבור תהליך רישום ואימות זהות. </p>
                    <p class="text-lg">המטרה היא להבטיח שהמוכרים בפלטפורמה אמינים ושאין חשש להונאה או מכירת כרטיסים מזויפים. תהליך זה כולל מילוי פרטים אישיים (שם, כתובת דוא"ל, מספר טלפון) וזיהוי באמצעות תעודת זהות או רישיון נהיגה.</p>
                    <p class="text-lg font-bold">
                        *בשלב זה ניתן לבצע רישום ואימות זהות לאזרחי ישראל בעלי תעודת זהות ישראלית בלבד.
                    </p>
                    <p class="mt-4 text-lg">
                        <span class="font-bold">אבטחת המידע: </span>כל תהליך אימות הזהות מתבצע בצורה מאובטחת, תוך שימוש בטכנולוגיות מתקדמות להגנה על המידע הרגיש.
                    </p>
                    <p class="text-lg">הפרטים האישיים שלכם מוגנים ברמה הגבוהה ביותר.</p>
                    <p class="text-lg">אנחנו מתחייבים לכך שהמידע נשמר ומעובד בהתאם לחוקי הגנת המידע והפרטיות.</p>
                    <p class="text-lg">אתם תקבלו עדכון כשהאימות יושלם בהצלחה, ותוכלו להמשיך בתהליך בביטחון מלא</p>
                </div>
            </div>

            <div class="w-full bg-[#EFECE6] py-8 lg:py-16">
                <div class="flex flex-col gap-8 lg:gap-x-20 w-full md:w-2/3 max-w-6xl mx-auto pb-12 lg:pb-20">
                    <h3 class="font-medium text-2xl">
                        למה אנחנו מבקשים אימות זהות?
                    </h3>
                    <div class="flex flex-col gap-4">
                        <div class="flex gap-2 items-center">
                            <img src="/assets/icons/pink-checkmark.svg" alt="SSL" class="h-10 w-10">
                            <h3 class="text-lg font-bold">מוכרים מאומתים</h3>
                        </div>
                        <p>תהליך האימות מבטיח שהמוכר הוא אדם אמיתי עם פרטים מאומתים, מה שמעלה את רמת הביטחון של הקונים ומספק להם שקט נפשי בעת ביצוע העסקה.</p>
                    </div>

                    <div class="flex flex-col gap-4">
                        <div class="flex gap-2 items-center">
                            <img src="/assets/icons/pink-checkmark.svg" alt="SSL" class="h-10 w-10">
                            <h3 class="text-lg font-bold">הגנה מפני הונאות</h3>
                        </div>
                        <p>באמצעות האימות, אנו מצליחים לאתר ולמנוע ניסיונות הונאה, ולהבטיח שהפלטפורמה שלנו תישאר סביבה בטוחה ואמינה עבור כל המשתמשים.</p>
                    </div>

                    <div class="flex flex-col gap-4">
                        <div class="flex gap-2 items-center">
                            <img src="/assets/icons/pink-checkmark.svg" alt="SSL" class="h-10 w-10">
                            <h3 class="text-lg font-bold">עמידה בדרישות רגולטוריות</h3>
                        </div>
                        <p>תהליך האימות עוזר לנו לעמוד בדרישות החוקיות הקשורות לאבטחת עסקאות ולפרטיות המשתמשים.</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-8 lg:gap-x-20 max-w-6xl mx-auto pb-12 my-16 lg:pb-20">
                <div class="flex flex-col gap-2 mb-8">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">3</span>
                        <h3 class="text-lg font-bold">קבלת לינק ייחודי למכירה</h3>
                    </div>
                    <p class="text-lg">לאחר העלאת הכרטיס, תקבלו לינק ייחודי שתוכלו לשתף בכל פלטפורמה – ברשתות חברתיות, הודעות פרטיות, או בכל דרך אחרת שתבחרו. הלינק הזה חוסך לכם את הצורך לענות על שאלות חוזרות בנוגע לזמינות הכרטיס. כל מי שנכנס ללינק יוכל לראות אם הכרטיס עדיין זמין, יחד עם כל המידע הרלוונטי, ולבצע את הרכישה ישירות – מה שמפשט ומייעל את תהליך המכירה עבורכם.</p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">4</span>
                        <h3 class="text-lg font-bold">מכירה ללא התעסקות</h3>
                    </div>
                    <p class="text-lg">לאחר שהעליתם את הכרטיס ושיתפתם את הלינק, תהליך המכירה מתנהל בצורה חלקה וללא צורך במעורבות רבה מצדכם. </p>
                    <p class="text-lg">במקרים של מכירת כרטיסי טיסה, עליכם לבצע החלפה לשם הקונה על הכרטיס/הזמנה.</p>
                    <p class="text-lg">במקרים אלו, המערכת תאסוף את כל המידע הנחוץ מהקונה ותעביר אותו אליכם בצורה מסודרת דרך המייל, כך שתוכלו להשלים את העסקה בהקדם האפשרי.</p>
                    <p class="text-lg">בנוסף, אנחנו כאן ללוות אתכם לאורך כל התהליך – אם יש לכם שאלות או צורך בתמיכה נוספת, הצוות שלנו זמין עבורכם כדי לוודא שהכל יתבצע בצורה חלקה ומהירה.</p>
                </div>

                <div class="flex flex-col gap-2 mb-8">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">5</span>
                        <h3 class="text-lg font-bold">קבלת התשלום</h3>
                    </div>
                    <p class="text-lg">כדי לוודא שלא מדובר בהונאה, רק לאחר שהתקיימו כל תנאי העסקה ההוגנת שעל בסיסה גם נקבע המועד להעברת הכסף, התשלום יועבר אליכם במהירות ובבטחה. </p>
                    <p class="text-lg">המערכת שלנו מבטיחה שהתהליך מתבצע בצורה מאובטחת ושקופה, כך שתוכלו להיות בטוחים שהתשלום יגיע אליכם בצורה מסודרת, בהתאם לאמצעי התשלום שבחרתם.</p>
                    <p class="text-lg">לאורך כל התהליך, תקבלו עדכונים במערכת על שינויי סטטוס – החל מהרכישה ועד לאישור ההעברה.</p>
                </div>
            </div>

            <div class="w-full bg-[#EFECE6] py-8 lg:py-16">
                <div class="flex flex-col gap-8 lg:gap-x-20 w-full md:w-2/3 max-w-6xl mx-auto pb-12 lg:pb-20">
                    <h3 class="font-medium text-2xl">
                        <p>קנייה חכמה,</p>
                        <p>שקט נפשי לכל אורך הדרך</p>
                    </h3>
                    <div class="flex flex-col gap-4">
                        <p>בין אם אתם רוכשים כרטיסים לאירועים או לטיסות, הפלטפורמה שלנו מבטיחה תהליך קנייה חלק, בטוח ושקוף. אתם מקבלים את כל המידע ישירות מהמוכר, והמערכת עוקבת אחרי כל שלב בתהליך, מוודאת שהכל מתקדם בצורה חלקה עם אבטחת תשלום מקסימלית ותמיכה מלאה לאורך כל הדרך.</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-8 lg:gap-x-20 max-w-6xl mx-auto pb-12 lg:pb-20 mt-16">
                <!-- Buy -->
                <div class="flex flex-col gap-4">
                    <img src="/assets/icons/buy-event.svg" alt="How it works" class="h-24 w-fit">
                    <p class="max-w-xs font-medium text-2xl">קניית כרטיסי אירועים</p>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">1</span>
                        <h3 class="text-lg font-bold">קבלת הלינק מהמוכר</h3>
                    </div>
                    <p class="text-lg">כשראיתם פוסט או מודעה למכירת כרטיס לאירוע, ודאו שהמוכר מספק לכם את הלינק הייחודי שלנו. </p>
                    <p class="text-lg">דרך הלינק תוכלו לצפות בכל הפרטים הרלוונטיים – כמו תאריך האירוע, מיקום הישיבה, ומחיר. הלינק הזה מאפשר לכם לקבל גישה ישירה ומלאה לכל המידע החשוב בצורה ברורה ומסודרת, ומונע את הצורך בהתכתבויות מיותרות עם המוכר. מהיום קונים רק דרך קלינק – בלי הלינק אין ביטחון בעסקה ואתם מסתכנים בהונאה</p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">2</span>
                        <h3 class="text-lg font-bold">בדיקת פרטי הכרטיס</h3>
                    </div>
                    <p class="text-lg">בלינק, תוכלו לבדוק את כל פרטי הכרטיס – מיקום הישיבה, מחיר ועוד.</p>
                    <p class="text-lg">כל המידע הרלוונטי זמין לכם בצורה ברורה, כך שתוכלו לוודא שהכרטיס מתאים לצרכים שלכם לפני שאתם ממשיכים לרכישה. אין שאלות מיותרות – הכל מוצג בצורה מסודרת ומלאה.</p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">3</span>
                        <h3 class="text-lg font-bold">רכישה מאובטחת</h3>
                    </div>
                    <p class="text-lg">לאחר שביצעתם את הרכישה, סכום העסקה ייתפס ממסגרת האשראי שלכם אך לא יחויב מיד. </p>
                    <p class="text-lg">הכסף יחויב רק לאחר השלמת העסקה ההוגנת, מה שמבטיח לכם ביטחון מלא לאורך כל התהליך</p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">4</span>
                        <h3 class="text-lg font-bold">קבלת הכרטיס</h3>
                    </div>
                    <p class="text-lg">עם אישור התשלום, הכרטיס ישלח אליכם ישירות למייל באופן מיידי וללא עיכובים. המערכת מטפלת בכל התהליך בצורה אוטומטית ומסודרת, כך שתוכלו לקבל את הכרטיס בקלות וללא המתנה מיותרת.</p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">5</span>
                        <h3 class="text-lg font-bold">התמודדות עם בעיות והונאות</h3>
                    </div>
                   <p class="text-lg">אנחנו עושים הכל כדי להבטיח שתהליך הרכישה יתבצע בצורה חלקה וללא תקלות. </p>
                   <p class="text-lg">אם בכל זאת תתעורר בעיה עם הכרטיס, הצוות שלנו כאן כדי לטפל בעניין במהירות וביעילות, בהתאם לתנאי העסקה ההוגנת, ולוודא שאתם מוגנים ומכוסים לאורך כל הדרך.</p>
                </div>
            </div>

            <div class="flex flex-col gap-8 lg:gap-x-20 max-w-6xl mx-auto pb-12 lg:pb-20 mt-16">
                <!-- Buy -->
                <div class="flex flex-col gap-4">
                    <img src="/assets/icons/buy-flight.svg" alt="How it works" class="h-24 w-fit">
                    <p class="max-w-xs font-medium text-2xl">קניית כרטיסי טיסה</p>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">1</span>
                        <h3 class="text-lg font-bold">קבלת הלינק מהמוכר</h3>
                    </div>
                    <p class="text-lg">כמו באירועים, כשראיתם פרסום לכרטיס טיסה, וודאו כי המוכר משתף אתכם בלינק הייחודי.</p>
                    <p class="text-lg">הלינק יכיל את כל פרטי הטיסה – יעד, תאריך, מועד המראה ומחיר. </p>
                    <p class="text-lg">זה מאפשר לכם לקבל את כל המידע בקלות וללא צורך בהתכתבויות מיותרות עם המוכר.</p>
                    <p class="text-lg">כל המידע זמין לכם בצורה ברורה ומלאה, כך שתוכלו לוודא שהכרטיס מתאים לתכניות שלכם לפני הרכישה.</p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">2</span>
                        <h3 class="text-lg font-bold">רכישה מאובטחת והחלפת שם</h3>
                    </div>
                    <p class="text-lg">לאחר שביצעתם את הרכישה, סכום העסקה ייתפס ממסגרת האשראי שלכם אך לא יחויב מיד. </p>
                    <p class="text-lg">הכסף יחויב רק לאחר השלמת העסקה ההוגנת, מה שמבטיח לכם ביטחון מלא לאורך כל התהליך.</p>
                    <p class="text-lg">המערכת תאסוף את כל הפרטים שלכם ותעביר אותם למוכר כדי להשלים את החלפת השם בכרטיס מול חברת התעופה בצורה מסודרת ומאובטחת.</p>
                    <p class="text-lg">אתם יכולים להיות רגועים שהכל מתבצע בצורה בטוחה ושקופה.</p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">3</span>
                        <h3 class="text-lg font-bold">קבלת הכרטיס</h3>
                    </div>
                    <p class="text-lg">לאחר שהמוכר ישלים את תהליך החלפת השם מול חברת התעופה, הכרטיס יישלח אליכם למייל, כך שתוכלו להשתמש בו לטיסה. </p>
                    <p class="text-lg">הכל נעשה בצורה מסודרת ומהירה.</p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <span
                            class="h-10 w-10 bg-[#FFC5C5] rounded-full font-bold text-lg text-[#072D4C] flex items-center justify-center">4</span>
                        <h3 class="text-lg font-bold">הגנה ותמיכה</h3>
                    </div>
                    <p class="text-lg">אנחנו עוקבים אחרי כל שלב בתהליך, ואם תתעורר בעיה או צורך בעדכון, תקבלו הודעות בזמן אמת. </p>
                    <p class="text-lg">במקרה של שאלות או בעיות הקשורות להחלפת השם או הכרטיס, הצוות שלנו זמין לסייע לכם בכל שלב ולוודא שהכל יתבצע בצורה חלקה.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>