<div class="container mx-auto px-4 py-8 max-w-sm">
  <app-onboarding-header class="mb-4" [title]="'Header'"></app-onboarding-header>

  <form [formGroup]="flightForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-4">
    <h2 for="eventName" class="block text-lg font-[700] text-gray-700">header</h2>

    <app-date-picker 
      label="outbound flight departure date" 
      formControlName="departureDate" 
      required>
    </app-date-picker>

    <app-time-picker 
      label="outbound flight departure time" 
      formControlName="departureTime" 
      required>
    </app-time-picker>

    <app-date-picker 
      label="outbound flight landing date" 
      formControlName="arrivalDate" 
      required>
    </app-date-picker>

    <app-time-picker 
      label="outbound flight landing time" 
      formControlName="arrivalTime" 
      required>
    </app-time-picker>

    <h2 for="eventName" class="block text-lg font-[700] text-gray-700">header</h2>


    <ng-container>
      <app-date-picker 
        label="return flight departure date" 
        formControlName="returnDepartureDate" 
        required>
      </app-date-picker>

      <app-time-picker 
        label="return flight departure time" 
        formControlName="returnDepartureTime" 
        required>
      </app-time-picker>
    </ng-container>

    <app-date-picker 
      label="return flight landing date" 
      formControlName="returnDate" 
      required>
    </app-date-picker>

    <app-time-picker 
      label="return flight landing time" 
      formControlName="returnTime" 
      required>
    </app-time-picker>

    <button type="button" type="submit" [disabled]="!flightForm.valid"
      class="w-full px-4 py-3 border   rounded-xl shadow-sm text-sm font-medium text-white bg-[#072d4c] disabled:opacity-50 disabled:cursor-not-allowed">
      Continue
    </button>

    <button type="button" (click)="cancel()"
      class="w-full px-4 py-3 border   rounded-xl shadow-sm text-sm font-medium text-[#072d4c] border-[#072d4c] disabled:opacity-50 disabled:cursor-not-allowed">
      Cancel
    </button>
  </form>
</div>
