<div class="overflow-x-hidden flex flex-col min-h-screen">
    <div class="h-full w-full flex flex-col bg-[#072D4C]">
        <app-header class="px-4 lg:px-14 py-6 lg:py-10 w-full"></app-header>
    </div>

    <div
        class="flex-grow w-full md:max-w-[640px] mx-auto min-h-[50vh] mb-16 p-5 pt-0 md:bg-white rounded-none md:rounded-3xl border-0 md:border md:border-[#9D9990] md:mt-8">
        <div class="my-8 bg-[#EFECE6] rounded-xl p-4 overflow-hidden">
            <div class="flex flex-col justify-between">
                <div class="flex items-center justify-between mb-4">
                    <h2 class="text-2xl font-bold mr-2">לאון שגיא</h2>
                    <div class="relative" *ngIf="isTrustedSeller">
                        <span
                            class="bg-[#FFC5C5] flex gap-2 items-center text-[#001729] text-center text-base whitespace-nowrap text-ellipsis font-bold px-4 py-2 rounded-full cursor-pointer"
                            (click)="toggleTrustedSellerPopup()">
                            מוכר אמין
                            <img src="/assets/icons/info-circle.svg" alt="info">
                        </span>
                        <div *ngIf="showTrustedSellerPopup"
                            class="absolute z-10 p-2 left-1 bg-white border border-gray-300 rounded-xl shadow-md mt-1 w-[60vw] md:w-[30vw]">
                            <p class="text-sm">מוכר אמין הוא מוכר שביצע 5 מכירות לפחות ללא תלונות מצד הרוכשים.</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <p class="flex items-center gap-1">
                        <img src="/assets/icons/shield-checked.svg" alt="shield-checked">
                        זהות מאומתת
                    </p>
                    <p class="text-gray-600">נמכרו <span class="font-bold">{{ ticketsSold }}</span> כרטיסים דרך האתר</p>
                </div>

            </div>
        </div>

        <!-- Buttons -->
        <div class="space-y-8">
            <button (click)="onSellTicket()" class="w-full md:w-auto mx-auto block py-4 px-10 bg-[#072D4C] text-white rounded-3xl font-semibold">
                <span>לחצו כאן למכירת כרטיס</span>
            </button>
            <div class="space-y-4">
                <button (click)="onTicketsForSale()"
                    class="flex justify-between w-full py-4 px-4 border border-[#D9D6D1] text-[#001729] rounded-xl font-normal text-start">
                    <span>הכרטיסים שלי</span>
                    <img src="assets/icons/chevron-left.svg" alt="chevron-left">
                </button>
                <button (click)="onUpdateEmail()"
                    class="flex justify-between w-full py-4 px-4 border border-[#D9D6D1] text-[#001729] rounded-xl font-normal text-start">
                    <span>עדכון כתובת אימייל ליצירת קשר</span>
                    <img src="assets/icons/chevron-left.svg" alt="chevron-left">
                </button>
                <button (click)="onUpdatePayment()"
                    class="flex justify-between w-full py-4 px-4 border border-[#D9D6D1] text-[#001729] rounded-xl font-normal text-start">
                    <span>עדכון פרטים לקבלת תשלום</span>
                    <img src="assets/icons/chevron-left.svg" alt="chevron-left">
                </button>
                <button (click)="onDeleteAccount()"
                    class="w-full py-4 px-4 border border-[#D9D9D9] text-[#001729] rounded-xl font-normal text-start">
                    מחיקת חשבון
                </button>
            </div>
        </div>
    </div>
    <app-confirmation-dialog [showDialog]="true" [disableConfirmButton]="!deleteAccountConfirmed" *ngIf="showConfirmationDialog"
        [title]="'האם ברצונכם למחוק את החשבון?'" [cancelButtonText]="'שיניתי את דעתי'"
        [confirmButtonText]="'מחיקת חשבון'" (cancel)="onCancelConfirmation()" (confirm)="onConfirmAction()">
        <p class="flex"><span class="font-bold">שימו</span><svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.746582 4.3566C0.746582 9.15619 6.98658 12.3802 6.98658 12.3802C6.98658 12.3802 13.2266 9.1588 13.2266 4.3566C13.2266 2.3884 11.6302 0.791995 9.66198 0.791995C8.59078 0.791995 7.64178 1.273 6.98658 2.0218C6.33398 1.273 5.38238 0.791995 4.31118 0.791995C2.34298 0.789395 0.746582 2.3858 0.746582 4.3566Z"
                    fill="#FFC5C5" />
            </svg>, מחיקת החשבון תמחק את כל המידע
        </p>
        <p class="mb-20">הקיים לצמיתות ולא ניתן יהיה לשחזרו. אם ישנן עסקאות פעילות, העדכונים עליהן יישלחו אליכם באימייל
            גם לאחר המחיקה. חשוב לדעת: ברגע שמחקתם, אין דרך חזרה</p>
        <div class="flex gap-2 items-start">
            <app-checkbox [(ngModel)]="deleteAccountConfirmed" customClass="flex-row-reverse gap-3" name="confirm"
                id="confirm"></app-checkbox>
            <p>אני מאשר/ת שלאחר המחיקה לא תהיה לי גישה לחשבון הנמחק ולרכישות שבוצעו דרכו.</p>
        </div>
    </app-confirmation-dialog>
    <app-footer class="mt-auto"></app-footer>
</div>