<div class="overflow-x-hidden flex flex-col min-h-screen">
    <div class="h-full w-full flex flex-col bg-[#072D4C]">
        <app-header class="px-4 lg:px-14 py-6 lg:py-10 w-full"></app-header>
    </div>

    <div
        class="flex-grow w-full md:max-w-[640px] mx-auto min-h-[50vh] mb-16 p-5 pt-0 md:bg-white rounded-none md:rounded-3xl border-0 md:border md:border-[#9D9990] md:mt-8">
        <div class="flex flex-col gap-2 items-center mt-8">
            <img src="/assets/icons/pink-checkmark.svg" alt="SSL" class="h-10 w-10 md:h-14 md:w-14">
            <h3 class="text-2xl md:text-4xl font-medium text-center">
                <p>תודה על הדיווח,</p>
                <p>אנחנו כאן בשבילכם</p>
            </h3>
        </div>

        <div class="flex flex-col gap-6 items-center mt-12 text-base md:text-lg w-full md:max-w-[420px] mx-auto">
            <p class="w-full text-start">
                תודה שדיווחתם לנו. אנחנו מתייחסים לכל מקרה ברצינות ובחומרה כדי לשמור על קהילה בטוחה והוגנת עבור כולם.
            </p>
            <p class="w-full text-start">
                כל דיווח נבדק בקפידה ויטופל בהתאם לתנאי השימוש שלנו ולתנאי העסקה ההוגנת. </p>
            <p class="w-full text-start">
                אנחנו כאן בשבילכם, ונחזור אליכם בהקדם עם עדכונים.
            </p>

            <p class="w-full text-start mt-4 font-bold">
                הבטיחות והאמון שלכם הם בראש סדר העדיפויות שלנו.
            </p>

            <div class="flex flex-col gap-4 w-full md:w-4/5 mt-12 mb-8">
                <app-button buttonClasses="text-base py-4 md:text-xl md:font-bold rounded-full" label="לדף הבית"></app-button>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>