<div class="container mx-auto md:max-w-sm">
    <app-onboarding-header class="mb-10" [showLogo]="false" [hideStep]="true" [title]="'Ticket sale'"></app-onboarding-header>

<div class="flex flex-col space-y-4 px-4">
    <h2 class="block text-lg font-[700] text-gray-700">What card do you sell?</h2>

    <label (click)="onSelect(flight)" [ngClass]="{'selection': flight.checked}" class="flex flex-col gap-2 items-center cursor-pointer p-3 rounded-lg border border-[#072d4c]">
        <input type="radio" #flight name="selection" class="hidden">
        <app-flight-icon [outlineColor]="!flight.checked ? '#072d4c' : '#fff'" fillColor="#ffc5c5"></app-flight-icon>
        <span class="font-bold">flight ticket</span>
    </label>
    <label (click)="onSelect(event)" [ngClass]="{'selection': event.checked}" class="flex flex-col gap-2 items-center cursor-pointer p-3 rounded-lg border border-[#072d4c]">
        <input #event type="radio" name="selection" class="hidden">
        <app-ticket-icon [outlineColor]="event.checked ? '#fff' : '#072d4c'" fillColor="#ffc5c5"></app-ticket-icon>
        <span class="font-bold">event ticket</span>
    </label>
</div>