<div class="container mx-auto px-4 py-8">
    <app-onboarding-header iconType="flight" title="Selling a flight ticket"></app-onboarding-header>

    <form (ngSubmit)="onContinue()" class="mt-8">
        <div class="mb-6">
            <app-input-field label="Flight Destination" [(ngModel)]="flightDestination" [ngModelOptions]="{standalone: true}" name="flightDestination"
                [required]="true"></app-input-field>
        </div>

        <div class="mb-6">
            <app-input-field label="company" [(ngModel)]="airlineName" [ngModelOptions]="{standalone: true}" name="airlineName"
                [required]="true"></app-input-field>
        </div>

        <div class="mb-6">
            <app-input-field label="Flight Number" [(ngModel)]="flightNumber" [ngModelOptions]="{standalone: true}" name="flightNumber"
                [required]="true"></app-input-field>
        </div>
        <div class="mb-6">
            <label for="ticketQuantity" class="block text-sm lowercase text-gray-700">Ticket type</label>
            <app-radio-group label="Flight Type" [(ngModel)]="flightType" [ngModelOptions]="{standalone: true}" name="flightType" [options]="[
          { value: 'round-trip', label: 'Round trip' },
          { value: 'one-way', label: 'One way' }
        ]"></app-radio-group>
        </div>

        <div class="flex flex-col gap-4 mt-8">
            <app-button label="Continue" type="submit" [disabled]="!isFormValid()"></app-button>
            <app-button buttonClasses="bg-transparent border-[#072d4c] !text-[#072d4c]" label="Cancel" type="button"
                (click)="onCancel()" variant="secondary"></app-button>
        </div>
    </form>
</div>