<div class="overflow-x-hidden flex flex-col min-h-screen relative">
    <!-- <div class="w-full flex flex-col bg-[#072D4C] ">
        <div class="flex flex-col w-[90%] md:w-[80%] md:max-w-screen-lg mx-auto">
            <div class="hidden md:block mx-auto mt-8 mb-4"><app-logo></app-logo></div>
            <app-onboarding-header (back)="onPreviousStep()" class="mb-4" [currentStep]="currentStep"
                [totalSteps]="totalSteps" title="תנאי עסקה הוגנת">
                <div header-icon>
                    <img src="/assets/icons/check-handshake.svg" alt="check-handshake" class="mx-auto h-14 mb-2">
                </div>
            </app-onboarding-header>
        </div>
    </div> -->
    <div class="flex-grow w-full md:max-w-screen-lg mx-auto min-h-[50vh] mb-28 p-5 md:pt-0 md:bg-white md:mt-10">
        <p class="mb-5">חשוב לנו לשמור על הפלטפורמה שלנו אמינה ולכן נשמח שתאשרו שקראתם את התקנון שלנו.</p>

        <p>התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו</p>
        <p class="mb-5">התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו</p>

        <p>התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו</p>
        <p class="mb-10">התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו</p>
        <p>התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו</p>
        <p>התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו</p>
        <p>התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו</p>
        <p>התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו
            התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו התקנון שלנו</p>
        <div #positionAnchor class="mt-2"></div>
    </div>
</div>
<div class="flex-grow w-screen fixed bottom-0 p-5 md:pt-0 bg-white md:mt-10">
    <div class="md:max-w-screen-lg mx-auto px-0 lg:px-5">
        <p class="flex gap-2">
            <app-checkbox [disabled]="!canContinue" [(ngModel)]="isChecked">אישור והמשך</app-checkbox> מאשר/ת את התקנון
        </p>
        <div class="flex justify-center w-full">
            <app-button [disabled]="!canContinue || !isChecked" class="md:inline-block w-full md:w-60 mx-auto" buttonClasses="md:!px-10"
                (click)="nextStep()">סיום
                הרשמה
            </app-button>
        </div>
    </div>


</div>