<!-- <div class="overflow-x-hidden">
  <div class="h-full w-full flex flex-col bg-[#072D4C]">
    <div class="flex flex-col"> -->
      <app-header></app-header>
    <!-- </div> -->
    <div class="flex bg-[#072D4C] flex-col py-16 flex-grow justify-evenly items-center h-full w-full text-center">
      <h1 class="text-2xl md:text-4xl font-medium my-auto text-white">עלינו</h1>
    </div>
  <!-- </div> -->

  <div class="container  md:max-w-screen-xl px-3 md:mx-auto my-8 py-8">
    <p>
      כמו רבים, גם אני הייתי בטוח שהכל הולך חלק, עד שפתאום גיליתי את האמת הכואבת: אני קורבן להונאה.
    </p>
    <p>
      מה שהיה נראה כמו עסקת קניית כרטיס תמימה לאירוע שממש חיכיתי לו, הפך במהרה לסיוט.
    </p>
    <p>הכרטיס שרכשתי היה מזויף, והכסף שהעברתי למוכר נעלם.</p>
    <p>כמו כל אחד במצב כזה, הרגשתי חסר אונים. אבל הסיפור שלי לא נגמר שם.</p>
    <p>אחרי שהתברר לי שהכרטיס לא תקף, הייתי בטוח שהמצב לא יכול להחמיר – אבל טעיתי. ההונאה התגלגלה מהר מאוד למסכת איומים,
      ששהפכו יותר ויותר אלימים.
    </p>
    <p>
      מי היה מאמין שבעסקת כרטיסים יתחילו לרדוף אחריי ולהפחיד אותי? אבל זו הייתה המציאות שנקלעתי אליה.
    </p>
    <p>מי היה מאמין שבעסקת כרטיסים יתחילו לרדוף אחריי ולהפחיד אותי? אבל זו הייתה המציאות שנקלעתי אליה.</p>
    <p>באותו הרגע, הבנתי שמשהו חייב להשתנות.</p>
    <p>החלטתי שזה הזמן לפעול, הגיע הזמן ליצור פלטפורמה שמבוססת על אמון, שקיפות, וביטחון.</p>
    <p>ראיתי לנגד עיניי את כל אותם אנשים שנפלו קורבן להונאות, וידעתי שאפשר לעשות את זה אחרת.</p>
    <p>היום יותר ויותר אנשים מפחדים למכור או לרכוש כרטיסים, חוששים מהונאות, איומים או סיכונים מיותרים.</p>
    <p>הקמנו את קלינק בדיוק מהסיבה הזו. </p>
    <p>שמנו לעצמנו למטרה למצוא דרך להפוך את השוק הזה לבטוח יותר, למקום שבו כל אחד יכול ליהנות מההזדמנויות שהוא מציע.</p>
    <p>ביחד עם צוות מדהים ומסור, הקמנו פלטפורמה שבה כל אחד – גם אם הוא קונה כרטיס בפעם הראשונה – יכול לדעת בוודאות שהעסקה שלו בטוחה.</p>
    <p>קלינק היא התשובה לכל מי שעבר הונאה או מפחד לעבור אחת.</p>
  </div>

  <div class="w-full bg-[#EFECE6]">
    <div class="container  md:max-w-screen-xl px-3 md:mx-auto py-16">
      <img src="/assets/mountain-flag.svg" alt="Mountain Flag" class="mx-auto">
      <h3 class="text-center font-medium text-2xl md:text-4xl my-8">זה לא רק עסק, זו שליחות.</h3>

      <p>אנחנו כאן כדי לוודא שכל קונה ומוכר יוכלו לבצע עסקאות בביטחון מלא.</p>
      <p>המטרה שלנו היא לא רק להבטיח ביטחון, אלא גם לעשות את תהליך רכישת ומכירת הכרטיסים פשוט וקל. </p>
      <p>אנחנו מאמינים שבשנת 2024 התהליך צריך להתנהל בקלות ובמהירות, בלי התעסקות מיותרת ובלי לחשוף פרטים אישיים.</p>
      <p>אז אם אי פעם חששתם לקנות או למכור כרטיס, קלינק היא התשובה בשבילכם. </p>
      <p>אנחנו כאן כדי להחזיר את האמון בשוק הזה, כדי שכל אחד יוכל להרגיש בטוח ולעשות עסקאות בשקט ובביטחון</p>
      <p>אין יותר צורך לחשוש – קלינק דואגת לכם. <span class="inline-block">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_594_17276)">
              <path
                d="M0.359375 5.91607C0.359375 12.5617 8.99937 17.0257 8.99937 17.0257C8.99937 17.0257 17.6394 12.5653 17.6394 5.91607C17.6394 3.19087 15.429 0.980473 12.7038 0.980473C11.2206 0.980473 9.90657 1.64647 8.99937 2.68327C8.09577 1.64647 6.77817 0.980473 5.29497 0.980473C2.56977 0.976873 0.359375 3.18727 0.359375 5.91607Z"
                fill="#FFC5C5" />
              <path
                d="M9 17.386C8.9424 17.386 8.8884 17.3716 8.8344 17.3464C8.4744 17.1592 0 12.7024 0 5.91639C0 2.99679 2.376 0.617188 5.2956 0.617188C6.678 0.617188 8.0064 1.17159 9 2.15439C9.9936 1.17159 11.322 0.617188 12.7044 0.617188C15.624 0.617188 18 2.99679 18 5.91639C18 12.706 9.5256 17.1592 9.1656 17.3464C9.1116 17.3716 9.0576 17.386 9 17.386ZM5.2956 1.33719C2.772 1.33719 0.72 3.39279 0.72 5.91639C0.72 11.7664 7.8192 15.9568 9 16.6156C10.1808 15.9568 17.28 11.7664 17.28 5.91639C17.28 3.39279 15.228 1.34079 12.7044 1.34079C11.4012 1.34079 10.1484 1.91679 9.2736 2.92119C9.1368 3.07599 8.8668 3.07599 8.73 2.92119C7.8516 1.91319 6.5988 1.33719 5.2956 1.33719Z"
                fill="#FEB4B4" />
            </g>
            <defs>
              <clipPath id="clip0_594_17276">
                <rect width="18" height="18" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </span></p>

    </div>
  </div>

  <div class="container  md:max-w-screen-xl px-3 md:mx-auto my-4 py-8">
    <h3 class="text-center font-medium text-2xl md:text-4xl mb-8">בואו ניצור מציאות טובה יותר</h3>
    <p>אנחנו כאן עבורכם. לא מדובר רק בפלטפורמה – זהו המוצר שלכם. אנחנו הראשונים בשוק הישראלי שמביאים פתרון ייחודי לעסקאות כרטיסים, תוך הבנה שהשותפות והמעורבות שלכם הם המפתח להצלחה. כל דעה, פידבק ורעיון שלכם חשובים לנו, משום שרק דרך שיתוף הפעולה נוכל לפתח סביבה בטוחה, הוגנת, אמינה ושקופה יותר.</p>
    <p>ההצלחה שלנו נמדדת ביצירת סביבה נקייה לחלוטין מהונאות וספסרות, שבה כל משתמש מרגיש בטוח להציע ולקנות כרטיסים ללא חשש.</p>
    <p>הדרך לשיפור הסביבה שלנו עוברת דרך השותפות אתכם – אנחנו כאן כדי לשמוע, לשתף ולבקש את דעתכם בכל שלב. נשתמש בפידבק שלכם כדי ללמוד ולהביא לכם פתרונות טובים ומותאמים יותר. עם הזמן, נמשיך לשדרג את הפלטפורמה בהתאם לצרכים שלכם.</p>
    <p>אנו נפתח איתכם שיח פתוח ונאסוף מכם תובנות, כדי להבטיח שכל רעיון ודעה שתביאו יובילו אותנו קדימה ליצירת מקום שבו אתם מרגישים בטוחים, בידיעה שהקול שלכם נשמע ומשפיע על הדרך שלנו להמשיך ולשפר.</p>

    <h4 class="text-start md:text-center font-bold md:font-medium text-base md:text-2xl my-12">
      העתיד של סביבה בטוחה והוגנת נבנה בקלינק, יחד עם המשתמשים שלנו, והוא מתחיל עכשיו!
    </h4>
  </div>

  <app-footer class="mt-auto"></app-footer>
<!-- </div> -->