<app-header></app-header>
<div class="flex bg-[#072D4C] flex-col py-16 flex-grow justify-evenly items-center h-full w-full text-center">
  <h1 class="text-2xl md:text-4xl font-medium my-auto text-white">מדיניות פרטיות</h1>
</div>
<div class="h-full py-8 px-8 md:py-20 md:px-40 text-sm">
  <p>מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות.</p>
  <p>מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות. מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות.<br />מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות. פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות.<br />מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות.</p>
  <p>מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות. מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות.<br />מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות. פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות
    מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות פרטיות מדיניות
    פרטיות.</p>
</div>

<app-footer class="mt-auto"></app-footer>