.selection:checked + svg, .selection:checked + span {
    color: white;
}
.selection:checked + svg {
    fill: white;
}
.selection:checked + span {
    color: white;
}
.selection:checked + label {
    background-color: #072d4c;
}

.selection {
    border: 1px solid #072d4c;
    background-color: #072d4c;
    color: white;
    svg {
        stroke: white;
        fill: white;
    }

    span {
        color: white;
    }
}

label:not(.selection) {
    border: 1px solid #072d4c;
    background-color: transparent;
    // color: #072d4c;
    svg {
        stroke: #072d4c;
        fill: #072d4c;
    }

    span {
        color: #072D4C;
    }
}