<div class="flex p-4 min-h-[190px] bg-[#072d4c] flex-col items-center">
    <div class="flex justify-between w-full">
        <button>
            <app-rounded-person></app-rounded-person>
        </button>

        <app-logo></app-logo>

        <button>
            <app-hamburger></app-hamburger>
        </button>
    </div>
    <div class="flex flex-col flex-grow justify-evenly items-center h-full w-full text-center">   
        <h1 class="text-2xl font-medium my-auto text-white">{{ title }}</h1>
    </div>
</div>